<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Логин</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <h2>Вход</h2>
    <input v-model="username" placeholder="Логин" required type="text"/>
    <input v-model="password" type="password" placeholder="Пароль" required/>
    <button @click="login">Войти</button>
    <p v-if="response">{{ response }}</p>
    <p v-if="error" style="color: red;">{{ error }}</p>
  </div>

  <script src="./app.js"></script>
</body>
</html>